<h1>Let's Beertalk</h1>
<% @mBeertalk.each do |talk| %>
  <a href="/beertalk/<%= beertalk.id %>"><%= beertalk.id %></a><br>
<% end %>

<!-- <p><a href="/movies/new" class="btn btn-primary">Add a movie!</a></p> -->